
.todo-item {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    padding: 16px;
    min-width: 230px;
    max-width: 300px;
    min-height: 185px;
    max-height: 340px;
    margin: 16px;
    background-color: white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 1);
    box-shadow: 0 2px 8px 0 rgba(150, 150, 150, 0.8);
    transition: box-shadow 0.2s ease-out;
}

.todo-item:hover {
    box-shadow: 0 2px 16px 0 rgba(204, 204, 204, 1);
    transition: box-shadow 0.2s ease-in;
}

.todo-item:hover .title {
    color: #4d4d4d;
}

.inner-container {
    position: relative;
    height: 100%;
}

.author-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 0 16px 16px;
    text-align: right;
}

.author-container img {
    vertical-align: middle;
}

.author-container p {
    display: inline-block;
}

.todo-item .title {
    color: #6d6d6d;
    text-align: left;
    min-height: 70px;
}

.todo-item .author {
    font-weight: 800;
}

.todo-item img {
    max-width: 48px;
}
