.content-container {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
    padding: 16px;
}

.content-container .item {
    flex: 1;
    height: 100%;
}

.create-form {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 16px;
    box-shadow: 0 0 8px 0 rgba(150, 150, 150, 0.8);
}

.content-container .list-container {
    text-align: center;
    overflow-y: auto;
}

.content-container .list-container .todo-list {
    padding: 16px;
}

.create-form input,
.create-form textarea {
    display: inline-block;
    width: 100%;
    padding: 12px 8px;
}

.create-form input {
    margin-bottom: 12px;
}

.create-form textarea {
    margin-bottom: 16px;
}

.create-form button {
    padding: 8px;
    float: left;
}

.create-container .form-container {
    padding: 16px;
}

.details-container .details-todo {
    text-align: initial;
    margin: 16px;
}

input[name="hidden"] {
    display: none;
}
