.content-container {
    height: calc(100% - 104px);
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}

.content-container .item {
    flex: 1;
    height: 100%;
}

.create-container, .list-container, .details-container {
    border: 1px solid #222222;
}

.create-form {
    text-align: center;
    display: inline-block;
}

.content-container .list-container {
    text-align: center;
    overflow-y: auto;
}


.create-form input,
.create-form button {
    display: block;
}


.details-container .details-todo {
    text-align: initial;
    margin: 16px;
    padding: 8px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 1);
    box-shadow: 0 2px 8px 0 rgba(150, 150, 150, 0.8);
}
