.app-header {
    background-color: #222;
    padding: 24px 32px;
    color: white;
    text-align: right;
}

.app-title, .logout-container {
    display: inline-block;
}

.logout-container img {
    display: inline-block;
    width: 56px;
    vertical-align: middle;
}

.logout-container p {
    font-size: 1.5em;
    vertical-align: middle;
    display: inline-block;
}