.app-header {
    background-color: #222;
    padding: 20px;
    color: white;
    text-align: right;
}

.app-title, .logout-container {
    display: inline-block;
}

.logout-container img {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
}

.logout-container p {
    display: inline-block;
}