header {
    text-align: center;
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
