
.testimony {
    vertical-align: middle;
    display: inline-block;
    padding: 16px;
    min-width: 230px;
    max-width: 300px;
    max-height: 340px;
    margin: 16px;
    background-color: white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 1);
    -moz-box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 1);
    box-shadow: 0 2px 8px 0 rgba(150, 150, 150, 0.8);
    transition: box-shadow 0.2s ease-out;
}

.testimony:hover {
    box-shadow: 0 2px 16px 0 rgba(204, 204, 204, 1);
    transition: box-shadow 0.2s ease-in;
}

.testimony:hover .quote {
    color: #4d4d4d;
}

.author-container {
    text-align: right;
}

.author-container img {
    vertical-align: middle;
}

.author-container p {
    display: inline-block;
}

.testimony .quote {
    color: #6d6d6d;
    text-align: left;
    min-height: 70px;
}

.testimony .author {
    font-weight: 800;
}

.testimony img {
    max-width: 48px;
}