.footer {
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: #222222;
    color: white;
    left: 0;
    padding: 8px 0;
    bottom: 0;
}

.footer .links-list {
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.footer .links-list a {
    margin-right: 12px;
}

.footer .links-list a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer p {
    margin: 0;
}
