.footer {
    position: absolute;
    width: 100%;
    max-width: 100%;
    background-color: #222222;
    color: white;
    left: 0;
    padding: 16px 0;
    bottom: 0;
}

.footer ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
}

.footer .linksList {
    padding-bottom: 8px;
}

.footer .linksList a {
    margin-right: 12px;
}

.footer p {
    margin: 0;
}
