.login-container {
    margin: 40px auto;
}

.login-form {
    display: inline-block;

}

.login-form input {
    width: 200px;
    display: block;
    margin-bottom: 16px;
}

.login-form button {
    margin-top: 8px;
}
