.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.firstPractice .intro {
    width: 80%;
    padding: 50px 0 50px;
    margin: auto;
}

.testimoniosList {
    width: 100%;
    display: inline-block;
}

.testimony {
    vertical-align: middle;
    display: inline-block;
    padding: 24px;
    max-width: 300px;
    max-height: 340px;
    margin: 0 16px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 2px 5px 0px rgba(204, 204, 204, 1);
}

.author-container {
    text-align: right;
}

.author-container img {
    vertical-align: middle;
}

.author-container p {
    display: inline-block;
}

.testimony .quote {
    text-align: left;
    min-height: 70px;
}

.testimony .author {
    font-weight: 800;
}

.testimony img {
    max-width: 48px;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  bottom: 0;
}

.footer ul {
  list-style-type: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
